[submodule "Udemy/010"]
	path = Udemy/010
	url = git@github.com:dturin1997/NextJS-E-Com-Masterclass-Learn-The-All-New-Next-JS.git
[submodule "Udemy/009"]
	path = Udemy/009
	url = git@github.com:dturin1997/Unity-C-Mobile-Game-Development-Make-3-Games-From-Scratch.git
[submodule "Udemy/003"]
	path = Udemy/003
	url = git@github.com:dturin1997/JavaScript-and-Ruby-on-Rails-with-React-Angular-and-Vue.git
[submodule "Udemy/011"]
	path = Udemy/011
	url = git@github.com:dturin1997/Angular-and-ASP.NET-Core-REST-API---Real-World-Application.git
